<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="personDao" class="ren.draven.dao.impl.PersonDaoBean"></bean>
	<bean id="personService" class="ren.draven.service.impl.PersonServiceBean">
		<!-- <constructor-arg index="0" type="ren.draven.dao.PersonDao"
			ref="personDao"></constructor-arg>
		<constructor-arg index="1" value="dravenxiaokai"></constructor-arg> -->
	</bean>

</beans>